[submodule "modules/linux"]
	path = modules/linux
	url = git@github.com:mtulio/puppet-module-linux.git
[submodule "modules/dnssec"]
	path = modules/dnssec
	url = git@github.com:mtulio/puppet-module-dnssec.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:mtulio/puppet-module-ssh.git
